@using Elysium.Components.Components
@using Haondt.Web.Core.Components
@model Elysium.Components.Components.MediaModel
<div class="elysium-media-container has-radius-small">

<article class="elysium-media
    depth-@Model.Depth
    has-background-black-ter
    p-2
    has-radius-small">
  <div class="media-content">
    <div>
        <div class="is-flex is-flex-direction-column">
            <div class="is-flex is-flex-direction-row is-align-items-baseline" style="gap:10px;">
                <strong>@Model.AuthorName</strong>
                <a><small>@@@Model.AuthorFediverseHandle</small></a>
                <small>@Model.Timestamp</small>
            </div>
            <div class="is-flex is-direction-column cursor-pointer">
            <!--hx-get="/_component/@(ComponentDescriptor<FeedModel>.TypeIdentity)">-->
            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <span class="is-size-4">@Model.Title</span>
            }
            @if (!string.IsNullOrEmpty(Model.Text))
            {
                <div class="is-flex is-flex-direction-column" style="gap:0.4rem;">
                    <p>@Model.Text</p>
                </div>
            }
            </div>
        </div>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-expand"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
</article>
</div>
