@model Elysium.Components.Components.TemporaryMessageComponentUpdateModel

@if(Model.AddMessages.Count > 0)
{
    @foreach(var message in Model.AddMessages)
    {
        <div hx-swap-oob="beforeend:#inbox" >
            <article class="message">
                <p class="has-text-weight-bold">@message.Author</p>
                <div class="message-body">
                  <p class="has-text-weight-light">@message.TimeStamp</p>
                  <p>@message.Text</p>
                </div>
            </article>
        </div>
    }
}

@if(Model.ErrorMessage.HasValue)
{
    <p id="status-message" hx-swap-oob="true" class="help is-danger" 
        _="
            on load
                add .created to me
                then wait 5s
                then remove .created from me
                then wait for transitionend
                then add .is-hidden to me
            end
            on deleted
                remove me
            end
        ">
          @Model.ErrorMessage.Value
    </p>
}

@if(Model.NotifySuccess)
{
    <p id="status-message" hx-swap-oob="true" class="help is-success"
        _="
            on load
                add .created to me
                then wait 5s
                then remove .created from me
                then wait for transitionend
                then add .is-hidden to me
            end
            on deleted
                remove me
            end
        ">
        Message sent successfully!
    </p>
}
