<div class = "container">
<div class="is-flex is-flex-direction-row" style="gap:40px;">
    <!-- Left column -->
    <div class="is-flex is-flex-direction-column" style="width:225px;">
        <!-- logo -->
        <div style="width:100%;height:75px;" class="pl-1 is-flex is-align-items-center">
            <img src="/_asset/logo.svg" style="height:25px;"/>
        </div>

        <!-- shade list-->
         <div class="is-flex is-flex-direction-column" style="gap:10px;">
            <style>
                @scope {
                    .actor-button {
                        height: 42px;
                    }


                    .actor-button.is-hovered .actor-name-label, .actor-button:hover .actor-name-label {
                        font-size: 0.7rem;
                    }

                    .actor-action-button {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                    .actor-action-button.main.notify, .actor-action-button.notify {
                        background-color: var(--bulma-danger);
                    }
                    .actor-action-button.main {
                        background-color: var(--bulma-primary);
                    }
                    .actor-action-button-container:hover > .actor-action-button.main {
                        background-color: var(--bulma-primary-light);
                    }
                    .actor-action-button {
                        background-color: var(--bulma-link);
                    }
                    .actor-action-button-container:hover {
                        cursor: pointer;
                    }
                    .actor-action-button-container:hover > .actor-action-button {
                        background-color: var(--bulma-info);
                    }


                    .fa-ghost {
                    }
                    .is-outlined .fa-ghost {
                        color: transparent;
                        -webkit-text-stroke-width: 1px;
                    }
                    .is-outlined .fa-ghost {
                        -webkit-text-stroke-color: var(--bulma-link);
                    }

                }
            </style>
            <div hx-trigger="load" hx-swap="outerHTML" hx-get="/shade?name=@haondt&isactive=true&ismain=true&hasnotifications=true"></div>
            {% for name in ['art', 'programming', 'discussion'] %}
            <div hx-trigger="load" hx-get="/shade?name=%2B{{name}}"></div>
            {% endfor %}
            <button class="button is-dark">
                Add shade
            </button>
         </div>
    </div>

    <!-- Right Column -->
    <div
        class="is-flex is-flex-direction-column"
        style="width:100%;"
    >
        <!-- nav bar-->
        <div class="is-flex is-flex-direction-row is-align-items-center is-justify-content-space-between"
            style="height:75px;"
        >
            <!-- left section-->
            <div>
                <button>
                    <span class="icon is-medium has-text-link"
                        _="
                            on mouseenter add .has-text-link-light to me then remove .has-text-link from me end
                            on mouseleave add .has-text-link to me then remove .has-text-link-light from me end
                        ">
                        <i class="fa-xl fa-solid fa-magnifying-glass"></i>
                    </span>
                </button>
            </div>

            <!-- center section -->
             <div class="is-flex flex-direction-row is-align-items-center" style="gap:30px;">
                <style>
                    @scope {
                        .navigation-dot-container {
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .navigation-dot-container:hover {
                            cursor: pointer;
                        }
                        .navigation-dot {
                            background-color: var(--bulma-primary);
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            transition:
                                width 0.3s ease,
                                height 0.3s ease,
                                background-color 0.3s ease;
                        }
                        .navigation-dot-container:hover > .navigation-dot {
                            background-color: var(--bulma-info);
                            width: 20px;
                            height: 20px;
                        }
                    }
                </style>
                {% for i in range(8) %}
                <div class="navigation-dot-container">
                    <div class="navigation-dot"></div>
                </div>
                {% endfor %}
             </div>

            <!-- right section-->
            <div>
                <button>
                    <span class="icon is-medium has-text-danger"
                        _="
                            on mouseenter add .has-text-danger-light to me then remove .has-text-danger from me end
                            on mouseleave add .has-text-danger to me then remove .has-text-danger-light from me end
                        ">
                        <i class="fa-xl fa-solid fa-arrow-right-from-bracket"></i>
                    </span>
                </button>
            </div>

        </div>

        <!-- content -->
        <div hx-trigger="load" hx-get="/feed_objects/thread" hx-swap="outerHTML" hx-target="this"></div>
    </div>


</div>
</div>