<div class = "container">
<div class="is-flex is-flex-direction-row">
    <!-- Left column -->
    <div class="is-flex is-flex-direction-column" style="width:225px;">
        <!-- logo -->
        <div style="width:100%;height:75px;" class="pl-1 is-flex is-align-items-center">
            <img src="/_asset/logo.svg" style="height:25px;"/>
        </div>

        <!-- shade list-->
         <div class="is-flex is-flex-direction-column" style="gap:20px;">
            <style>
                @scope {
                    .actor-button {
                        height: 42px;
                    }

                    .actor-button.is-hovered .actor-name-label, .actor-button:hover .actor-name-label {
                        font-size: 0.7rem;
                    }

                    .actor-action-button {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                    .actor-action-button.main.notify, .actor-action-button.notify {
                        background-color: var(--bulma-danger);
                    }
                    .actor-action-button.main {
                        background-color: var(--bulma-primary);
                    }
                    .actor-action-button-container:hover > .actor-action-button.main {
                        background-color: var(--bulma-primary-light);
                    }
                    .actor-action-button {
                        background-color: var(--bulma-link);
                    }
                    .actor-action-button-container:hover {
                        cursor: pointer;
                    }
                    .actor-action-button-container:hover > .actor-action-button {
                        background-color: var(--bulma-info);
                    }

                    .fa-xl {
                        font-size: 1.5rem;
                    }

                    .fa-ghost {
                    }
                    .is-outlined .fa-ghost {
                        color: transparent;
                        -webkit-text-stroke-width: 1px;
                    }
                    .is-outlined .fa-ghost {
                        -webkit-text-stroke-color: var(--bulma-link);
                    }

                }
            </style>
            <div hx-trigger="load" hx-swap="outerHTML" hx-get="/shade?name=haondt&isactive=true&ismain=true&hasnotifications=true"></div>
            {% for name in ['art', 'programming', 'discussion'] %}
            <div hx-trigger="load" hx-get="/shade?name=haondt%2B{{name}}"></div>
            {% endfor %}
            <button class="button is-dark">
                Add shade
            </button>
         </div>
    </div>

    <!-- Right Column -->
    <div>
        words2
    </div>


</div>
</div>